@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px 230px;
  background-color: #ffffff;
  font-family: "Arial", sans-serif;
}

.sectionTitle {
  color: #3498db;
  margin-top: 20px;
}

.navLink {
  margin-left: 33px;
  font-size: 20px;
  color: #3498db;
  font: bold;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s; /* Add smooth transition effect */
}

.navLink:hover {
  color: #2980b9; /* Change the color on hover as per your design */
}

@media (max-width: 640px) {
  .container {
    padding: 2px 2px;
  }
  .navLink {
    padding: -10px;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .container {
    padding: 5px 5px;
  }
}

/* Responsive styles for large screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 7px 7px;
  }
}
